<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <META http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>
        
    <body>
        <table border="1" width="90%" align="center" cellpadding="5" cellspacing="1">
            <thead>
                <th bgcolor="Yellow"><font size="2" face="verdana"><B>Company Name</b><font></th>
                <th bgcolor="Yellow"><font size="2" face="verdana"><B>Buyer</b><font></th>
                <th bgcolor="Yellow"><font size="2" face="verdana"><B>ProductID</b><font></th>
            </thead>
            
            <tbody>
                <tr bgcolor="#ffffff">
                    <td><font size="2" face="verdana">My Company</font></td>
                    <td><font size="2" face="verdana">Unknown</font></td>
                    <td><font size="2" face="verdana">POOROY2N4KIT</font></td>
                <tr bgcolor="#e6e6e6">
                    <td><font size="2" face="verdana">My Company1</font></td>
                    <td><font size="2" face="verdana">Unknown1</font></td>
                    <td><font size="2" face="verdana">POOROY2N4KIT1111</font></td>
                <tr bgcolor="#ffffff">
                    <td><font size="2" face="verdana">My Company2</font></td>
                    <td><font size="2" face="verdana">Unknown2</font></td>
                    <td><font size="2" face="verdana">POOROY2N4KIT2222</font></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>

